In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from plotnine import ggplot, geom_point, aes, stat_smooth, facet_wrap, scale_x_continuous, theme_bw, ggtitle, geom_col, scale_x_discrete, theme, element_text
from datetime import datetime

# Fuel plots to explore the data!

A place to explore the data bit ðŸ˜‰

In [7]:
TODAYS_DATE = datetime.today().strftime("%d-%m-%Y")
#import data
pricesPerth = pd.read_csv(f'data/{TODAYS_DATE}-pricesPerth.csv')
pricesPerth

,title,price,brand,latitude,longitude,location
0,Costco Casuarina,155.7,Costco,-32.233194,115.853241,SOR
1,Costco Perth Airport,155.7,Costco,-31.940377,115.951869,SOR
2,United Perth Airport,156.7,United,-31.956366,115.969749,SOR
3,Liberty Gosnells,159.5,Liberty,-32.075216,116.005816,SOR
4,Liberty O'Connor,159.5,Liberty,-32.063065,115.792017,SOR
...,...,...,...,...,...,...
358,Karnup Roadhouse,178.9,BP,-32.427429,115.774670,SOR
359,Shell Jarrahdale,179.9,Shell,-32.308753,116.006734,SOR
360,Serpentine Falls Roadhouse,183.9,Independent,-32.364781,115.991703,SOR
361,United Swanbourne,184.9,United,-31.983608,115.767278,NOR
362,Mundijong Store & Deli,192.0,Independent,-32.295640,115.985466,SOR